body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: var(--cor-fundo);
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.painel {
    text-align: center;
    background-color: var(--cor-painel);
    border-radius: 15px;
    width: 380px;
    height: 620px;
}

.texto img {
    margin-top: 35px;
    height: 90px;
    border-radius: 100%;
}

.texto h1 {
    margin-top: 25px;
    font-size: 24px;
    color: var(--cor-texto);
}

.texto p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--cor-clique);
    font-size: 14px;
}

.texto span {
    font-size: 14px;
    color: var(--cor-texto);
}

.botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
}

.botoes .botao {
    background-color: var(--cor-botoes);
    color: var(--cor-texto);
    border-radius: 10px;
    width: 310px;
    height: 50px;
    transition: 0.3s ease-in-out;

}

.container .botoes :hover {
    background-color: var(--cor-clique);
    color: black;
}